body{
    background-color: #272838;
    color: #cbd4c2;
    max-width: 70ch;
    padding: 5em;
    margin: left;
}

h1{
    color: #A3A89D;
}

a{
    color: #f6f7eb;
    text-decoration: none;
    transition: color 0.1s;
    transition: margin-left 0.5s;
}

a:hover{
    text-decoration: underline;
    color: gray;
    margin-left: 5px;
}

#oc{
    position: fixed;
    bottom: 1px;
    right: 5%;
}

li{
    list-style-type: disclosure-closed;
}
